{:deps  {org.clojure/clojure            {:mvn/version "1.11.1"}
         clj-time/clj-time              {:mvn/version "0.15.2"}
         com.andrewmcveigh/cljs-time    {:mvn/version "0.5.2"}}
 :paths ["src"]
 :aliases
 ;; clj -X:test
 {:test      {:extra-paths ["test"]
              :extra-deps  {io.github.cognitect-labs/test-runner
                            {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
              :exec-fn     cognitect.test-runner.api/test}
  :cljs-test {:extra-paths ["test"]
              :extra-deps  {kongeor/cljs-test-runner
                            {:git/url "https://github.com/kongeor/cljs-test-runner"
                             :sha     "fa604e9e5f4e74a544958dfdf4c5ccc2a4b2c916"}}
              :main-opts   ["-m" "cljs-test-runner.main"]}
  :clj-kondo {:replace-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
              :main-opts    ["-m" "clj-kondo.main"]}
  :build     {:deps       {io.github.clojure/tools.build
                           {:git/tag "v0.9.3" :git/sha "e537cd1"}
                           slipset/deps-deploy {:mvn/version "0.2.0"}}
              :ns-default build}}}
