{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
        clj-time/clj-time {:mvn/version "0.15.2"}
        com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}}}
